@import url(https://fonts.googleapis.com/css?family=Abel);
/** font-family **/
/** colors **/
/** common **/
html {
  font-size: 62.5%; }

body {
  background-color: #f9f8f6; }

a img:hover {
  opacity: 0.7; }

a {
  color: #887f69; }
  a:hover {
    color: #b6b0a1; }

.wh_bg_box {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px; }

.wh_bg_box h3 {
  color: #887f69;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 10px 0; }

.wh_bg_box h4 {
  color: #887f69;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 5px 0; }

.wh_bg_box p {
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0 0 5px 0; }

/** header **/
header h1 {
  text-align: center;
  padding: 10px 0 5px 0;
  margin: 0; }
  header h1 img {
    width: 120px;
    height: auto; }
header .menu {
  text-align: center; }
header .sp_menu {
  display: inline-block;
  list-style: none;
  margin: 0 auto; }
  header .sp_menu li {
    display: inline-block;
    float: left;
    padding: 0 8px; }
header .pc_menu {
  display: none; }

@media (min-width: 550px) {
  header h1 {
    text-align: left;
    padding: 20px 0;
    margin: 0; }
    header h1 img {
      width: 141px;
      height: auto; }
  header .sp_menu {
    display: none; }
  header .menu {
    text-align: right; }
  header .pc_menu {
    display: inline-block;
    list-style: none;
    margin-top: 40px; }
    header .pc_menu li {
      float: left;
      padding-right: 20px; }
    header .pc_menu .social {
      padding-right: 8px; } }
.toggle {
  /*   position: relative; */
  display: none;
  z-index: 100;
  padding-bottom: 20px; }
  .toggle .sp_menu_toggle {
    margin: 0;
    padding: 3px 0;
    width: 100%;
    background-color: #aeb26d;
    list-style: none; }
    .toggle .sp_menu_toggle li {
      margin: 10px;
      border-bottom: 1px solid white;
      padding: 0px 3px 10px 3px; }
      .toggle .sp_menu_toggle li a {
        color: white;
        text-decoration: none; }
    .toggle .sp_menu_toggle li:last-child {
      border-bottom: 0;
      padding: 0 3px; }

@media (min-width: 550px) {
  .toggle .sp_menu_toggle {
    display: none; } }
/** main contents **/
#maincontents #eyecatch .owl-dots {
  text-align: left; }

#maincontents #eyecatch .owl-dots .owl-dot span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #aaaaaa; }

#maincontents #eyecatch .active span {
  background-color: #9d1a2d !important; }

#maincontents .breadcrumb {
  border-radius: 3px;
  background-color: #e8e4da;
  color: #abb4bf;
  font-size: 11px;
  font-size: 1.1rem;
  padding: 10px 10px 10px 30px;
  background-image: url(../images/list/home_icon.png);
  background-repeat: no-repeat;
  background-position: 10px 12px;
  margin-bottom: 10px; }
  #maincontents .breadcrumb .breadcrumb_in {
    display: inline-flex; }
  #maincontents .breadcrumb a {
    text-decoration: none; }
    #maincontents .breadcrumb a:hover {
      color: #a09884; }

#maincontents .category_imgge_sp {
  margin-bottom: 8px; }

#maincontents .category_image_pc {
  display: none; }

@media (min-width: 550px) {
  #maincontents .category_imgge_sp {
    display: none; }

  #maincontents .category_image_pc {
    display: block;
    margin-bottom: 6px; } }
/** Title **/
#maincontents .sp_title {
  text-align: center;
  padding: 15px 0; }

#maincontents .pc_title {
  display: none; }

@media (min-width: 550px) {
  #maincontents .sp_title {
    display: none; }

  #maincontents .pc_title {
    display: block;
    margin-top: 10px;
    padding: 20px 0; } }
/** pro_list_all **/
#maincontents .pro_box {
  background-color: white;
  font-size: 11px;
  font-size: 1.1rem;
  width: 99%;
  float: left;
  box-sizing: border-box; }
  #maincontents .pro_box .pro_box_in {
    padding: 10px 10px 20px 10px; }
  #maincontents .pro_box .pro_title {
    padding-top: 10px; }
    #maincontents .pro_box .pro_title a {
      color: black;
      text-decoration: none; }
  #maincontents .pro_box .price {
    margin-top: 10px; }

#maincontents .pro_list_all {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  #maincontents .pro_list_all .pro_box {
    width: 49%;
    margin-right: 2px;
    margin-bottom: 2px; }

@media (min-width: 550px) {
  #maincontents .pro_list_all .pro_box {
    width: 33%; } }
#maincontents .list_pagenavi {
  margin: 20px 0;
  width: 100%; }
  #maincontents .list_pagenavi ul {
    list-style: none; }
  #maincontents .list_pagenavi a {
    display: block;
    background-color: #887f69;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 10px 30px; }
    #maincontents .list_pagenavi a:hover {
      background-color: #a09884; }
  #maincontents .list_pagenavi .back_btn {
    float: left; }
  #maincontents .list_pagenavi .next_btn {
    float: right; }

#maincontents #guide .columns {
  width: 100%; }

@media (min-width: 550px) {
  #maincontents #guide {
    display: flex; }
    #maincontents #guide .columns {
      margin: 0;
      width: calc((100%-2px)/2); }
    #maincontents #guide .columns:last-child {
      margin-left: 2px; } }
#maincontents .products_info_box {
  background-color: white;
  padding: 10px 20px; }

@media (min-width: 550px) {
  padding: 40px 60px; }
#maincontents .pro_name {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  padding-top: 10px; }

#maincontents .pro_num {
  font-size: 10px;
  font-size: 1rem;
  color: #aaaaaa;
  padding-top: 3px;
  text-align: left; }

#maincontents .p_title {
  border-bottom: 1px solid #e2ddd4;
  padding-bottom: 10px; }

@media (min-width: 550px) {
  #maincontents .pro_name {
    margin-bottom: 10px; }

  #maincontents .pro_num {
    text-align: right; }

  #maincontents .p_title {
    padding-bottom: 30px; } }
#maincontents .pro_imgs {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e2ddd4;
  padding-bottom: 10px; }

@media (min-width: 550) {
  #maincontents .pro_imgs {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px; } }
#maincontents #list_img {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; }
  #maincontents #list_img li {
    width: 19%;
    margin: 0;
    padding: 0 0 1% 1%; }
    #maincontents #list_img li:first-child, #maincontents #list_img li:nth-child(6) {
      padding: 0 0 1% 0; }
  #maincontents #list_img img {
    float: left;
    cursor: pointer; }

@media (min-width: 550px) {
  #maincontents #list_img li {
    width: 48%;
    padding: 0 0 2% 2%; }
    #maincontents #list_img li:first-child, #maincontents #list_img li:nth-child(odd) {
      padding: 0 0 2% 0; }
    #maincontents #list_img li:nth-child(6) {
      padding: 0 0 2% 2%; } }
@media (min-width: 550px) {
  #maincontents .pro_imgs .eight.columns {
    width: 70.33333%; }
  #maincontents .pro_imgs .four.columns {
    width: 28.36667%;
    margin-left: 1.3%; } }
/** maincontents pro_info **/
@media (min-width: 550px) {
  #maincontents #pro_info {
    border-bottom: 1px solid #e2ddd4; }
    #maincontents #pro_info #price {
      border-bottom: 1px solid #e2ddd4; } }
#maincontents #pro_info input[type="checkbox"] {
  display: inline-block;
  width: 15px !important;
  height: 15px;
  border: 2px solid #887f69;
  background: transparent;
  opacity: 0.5;
  width: 100%;
  margin-bottom: 0; }
  #maincontents #pro_info input[type="checkbox"]:checked {
    display: inline-block;
    background: #e2ddd4;
    opacity: 1; }

#maincontents #pro_info .option_tbl {
  margin-top: 10px;
  border-top: 1px solid #e2ddd4;
  border-left: 1px solid #e2ddd4;
  margin-bottom: 20px; }
  #maincontents #pro_info .option_tbl th,
  #maincontents #pro_info .option_tbl td {
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: normal;
    color: #887f69;
    border-right: 1px solid #e2ddd4;
    border-bottom: 1px solid #e2ddd4; }
  #maincontents #pro_info .option_tbl th {
    background-color: #fbf7f0; }

#maincontents #pro_info .price_tbl {
  margin-bottom: 20px; }
  #maincontents #pro_info .price_tbl .price {
    border-top: 1px solid #e2ddd4;
    border-bottom: 1px solid #e2ddd4; }
  #maincontents #pro_info .price_tbl span.price_red {
    color: #e80f66;
    font-size: 20px;
    font-size: 2rem; }
  #maincontents #pro_info .price_tbl span.mini {
    font-size: 14px;
    font-size: 1.4rem; }
  #maincontents #pro_info .price_tbl td.price {
    font-style: italic; }
  #maincontents #pro_info .price_tbl tr.quantity input {
    margin-bottom: 0; }

#maincontents #pro_info .add_cart {
  text-align: center;
  margin-bottom: 20px; }

@media (min-width: 550px) {
  #maincontents #pro_info .price_tbl {
    margin-bottom: 0; }
    #maincontents #pro_info .price_tbl .quantity {
      border-bottom: 0; } }
/** explain **/
#maincontents .explain_title {
  font-size: 16px;
  font-size: 1.6rem;
  color: #887f69;
  font-weight: bold;
  border-bottom: 1px solid #e2ddd4;
  padding: 10px 0; }

@media (min-width: 550px) {
  #maincontents .explain_title {
    margin-top: 20px; } }
#maincontents .explain_info {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 160%; }
  #maincontents .explain_info .exp_title {
    font-size: 16px;
    font-size: 1.6rem;
    color: #887f69;
    font-weight: bold;
    padding-bottom: 10px; }
  #maincontents .explain_info .exp_tbl {
    margin-top: 10px;
    border-top: 1px solid #e2ddd4;
    border-left: 1px solid #e2ddd4;
    margin-bottom: 20px; }
    #maincontents .explain_info .exp_tbl th,
    #maincontents .explain_info .exp_tbl td {
      padding: 10px;
      text-align: left;
      font-size: 12px;
      font-size: 1.2rem;
      font-weight: normal;
      color: #887f69;
      border-bottom: 1px solid #e2ddd4;
      border-right: 1px solid #e2ddd4; }
    #maincontents .explain_info .exp_tbl th {
      background-color: #fbf7f0;
      text-align: center; }

@media (min-width: 550px) {
  #maincontents .explain_info .exp_title {
    padding: 20px 0; }
  #maincontents .explain_info .exp_tbl {
    margin-top: 30px;
    margin-bottom: 30px; } }
/** side menu **/
#sidemenu {
  margin-top: 10px; }
  #sidemenu .search_title {
    display: none; }

@media (min-width: 550px) {
  #sidemenu {
    margin-top: 0; }
    #sidemenu .search_title {
      display: block;
      padding-bottom: 5px; } }
#sidemenu #search {
  margin: 0; }
  #sidemenu #search #searchInput {
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    font-size: 10px;
    font-size: 1rem;
    background-color: #eeeeee;
    background-image: url("../images/top/search_icon.png");
    background-position: 95% center;
    background-repeat: no-repeat;
    font-style: italic; }

#sidemenu a.sidebar_menu_link {
  display: block;
  background-color: #887f69;
  color: white;
  padding: 15px;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  background-image: url("../images/top/next_icon.png");
  background-position: 95% center;
  background-repeat: no-repeat;
  margin-bottom: 10px; }
  #sidemenu a.sidebar_menu_link:hover {
    background-color: #b6b0a1; }

#sidemenu .brown_title_down {
  display: block;
  background-color: #887f69;
  color: white;
  padding: 15px;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.1rem;
  margin: 0;
  background-image: url("../images/top/down_icon.png");
  background-position: 95% center;
  background-repeat: no-repeat; }

#sidemenu .sidebar_menu {
  margin-bottom: 10px; }

#sidemenu .sidebar_menu ul {
  margin: 0;
  padding: 0; }

#sidemenu .sidebar_menu li,
a {
  margin: 0;
  padding: 0;
  display: block; }

#sidemenu .sidebar_menu a {
  padding: 15px 12px;
  color: black;
  text-decoration: none;
  background-color: white;
  margin-bottom: 1px;
  font-size: 12px;
  font-size: 1.2rem;
  background-image: url("../images/top/next_icon_gray.png");
  background-position: 95% center;
  background-repeat: no-repeat; }
  #sidemenu .sidebar_menu a:hover {
    color: #887f69; }

#sidemenu a.brown_title {
  display: block;
  background: #887f69;
  box-sizing: border-box;
  width: calc(100%);
  margin: 0;
  padding: 10px; }
  #sidemenu a.brown_title .brown_title {
    float: left; }

#sidemenu .side_left,
.side_right {
  width: 48%; }

#sidemenu .side_left {
  float: left; }

#sidemenu .side_right {
  float: right; }

#sidemenu p {
  background-color: white; }

#sidemenue .more_btn {
  text-align: left; }

@media (min-width: 550px) {
  #sidemenu .more_btn {
    text-align: center; }
    #sidemenu .more_btn:homer {
      opacity: 0.7; }

  #sidemenu .side_left,
  .side_right {
    width: 100%;
    float: none; } }
/** footer **/
footer .pagetop {
  text-align: center;
  padding: 20px 0; }

@media (min-width: 550px) {
  footer .pagetop {
    text-align: right; } }
footer .foot_navigation {
  text-align: center;
  border-top: 1px solid #e2ddd4;
  padding: 20px 0 10px 0; }
  footer .foot_navigation .foot_navigation_in {
    display: inline-flex; }
    footer .foot_navigation .foot_navigation_in span {
      line-height: 1.2; }
  footer .foot_navigation a {
    color: black;
    font-size: 10px;
    font-size: 1rem;
    text-decoration: none; }

footer .copyright {
  text-align: center;
  font-size: 10px;
  font-size: 1rem;
  padding-bottom: 40px;
  color: #b8b4ac; }

/*# sourceMappingURL=shopping.css.map */
